@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Umbraco.Cms.Core.Models
@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Content= Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent
@{
    var slide = Model.AncestorOrSelf<ContentModels.Home>();



}
@{if (slide is not null)
    {
        if (slide.SlideAciklama1 != "")
        {



            <div class="hero">

                <ul id="slide" class="slide-list">

                    <li>
                        @{
                            var link1 = slide.SlideUrl1;
                        }
                        @if (link1.Name == "video")
                        {
                            <div class="slide-material slide-video">
                                <video preload="auto" autoplay loop playsinline data-wf-ignore="true" muted="true">
                                    <source type="video/mp4" src="~/@link1.Url" />
                                </video>
                            </div>
                        }
                        else
                        {
                            <div class="slide-material slide-photo">
                                <div style="background-image: url('@link1.Url')"></div>
                            </div>
                        }

                        <div class="slide-wrapper">
                            <div class="slide-container container">
                                <div class="slide-content">
                                    <div class="heading">@slide.SlideBaslik1</div>
                                    <div class="text">@slide.SlideAciklama1</div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        @{
                            var link2 = slide.SlideUrl1;
                        }
                        @if (link2.Name == "video")
                        {
                            <div class="slide-material slide-video">
                                <video preload="auto" autoplay loop playsinline data-wf-ignore="true" muted="true">
                                    <source type="video/mp4" src="~/@link2.Url" />
                                </video>
                            </div>
                        }
                        else
                        {
                            <div class="slide-material slide-photo">
                                <div style="background-image: url('@link2.Url')"></div>
                            </div>
                        }


                        <div class="slide-wrapper">
                            <div class="slide-container container">
                                <div class="slide-content">
                                    <div class="heading">@slide.SlideBaslik2</div>
                                    <div class="text">>@slide.SlideAciklama2</div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <div class="hero-info">
                    <div class="container">
                        <ul class="row ui-gutter">
                            <li class="col-lg-3 col-sm-12 col-md-3">
                                <a>
                                    <h4 class="title ui-large">Ak 100 Temizlik</h4>
                                </a>
                            </li>


                            <li class="col-md-3 col-sm-4">
                                <a href="Hekimler">
                                    <div class="icon">
                                        <img src="~/uploads/sayfalar/res5.png?p=uploads/sayfalar/res5.png&amp;w=300" alt="Hızlı ve Etkili Kuruma">
                                    </div>
                                    <h4 class="title">Hızlı ve Etkili Kuruma</h4>
                                    <div class="text"></div>
                                </a>
                            </li>


                            <li class="col-md-3 col-sm-4">
                                <a href="Tedaviler">
                                    <div class="icon">
                                        <img src="~/uploads/sayfalar/res6.jpg?p=uploads/sayfalar/res6.jpg&amp;w=300" alt="Derinlemesine Temizlik">
                                    </div>
                                    <h4 class="title">Derinlemesine Temizlik</h4>
                                    <div class="text"></div>
                                </a>
                            </li>


                            <li class="col-md-3 col-sm-4">
                                <a href="Tedaviler">
                                    <div class="icon">
                                        <img src="~/uploads/sayfalar/res7.jpg?p=uploads/sayfalar/res7.jpg&amp;w=300" alt="Hijyen ve Sağlık">
                                    </div>
                                    <h4 class="title">Hijyen ve Sağlık</h4>
                                    <div class="text"></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        }
    }
   
}