@inherits UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
    var imageCropperValue = homePage.LogoWhite;
    string FirmaAdi = Model.Value<string>("metaDescription");

    var menu = homePage.Children.Where(x => !x.Value<bool>("hideFromTopNavigation")).OrderBy(x => x.Value("NavigationNo"));
  
}


<nav class="mobile-nav js-mobilenav" role="navigation" >
    <div class="mobile-nav__wrapper">

        <div class="mobile-nav__header">
            <div class="mobile-nav__header-body">
                <div class="mobile-nav__header-logo">
                    <a href="@homePage.Url()">@homePage.Name</a>
                </div>

                <button class="mobile-nav__close js-btn-mobilenav is-close" aria-controls="MobileNavToggle">
                    <span class="icon">
                        <svg role="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times">
                            <path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>

        <div class="mobile-nav__content">
            <ul class="js-mobilenav-dropdown">
                <li class="heading">MENU</li>
              @*   <li class="js-mobilenav-item">
                    <a href="#" class="js-mobilenav-link ui-link">
                        <span class="text">Kurumsal</span>
                    </a>
                    <ul class="mobile-nav__sub js-mobilenav-sub">
                        <li><a href="hakkimizda.php">Hakkımızda</a></li>
                    </ul>
                </li> *@

                @foreach (var page in menu)
                {
                    <li class="js-mobilenav-item">
                        <a href="@(page.Url())" class="js-mobilenav-link ui-link">
                            <span class="text">@(page.Name)</span>
                        </a>
                    </li>
                                    

}                   


                 

            </ul>
        </div>

        <div class="mobile-nav__content other">
            <ul>

                <li class="ui-not"><a href="#">@FirmaAdi</a></li>

            </ul>
        </div>

    </div>
   
    <div class="mobile-nav__footer ui-d-flex">
        @if (homePage.SocialIconLinks != null && homePage.SocialIconLinks.Any())
        {
                @Html.GetBlockListHtml(homePage.SocialIconLinks)
        }
        @* <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a> *@
        <a href="mailto:@homePage.Eposta"><i class="far fa-envelope"></i></a>
        <a href="tel:@homePage.Whatsapp"><i class="fas fa-phone-volume"></i></a>
    </div>
</nav>

<header class="header" >


    <div class="header-top">


        <div class="header-container container">

            <div class="header-social">
                @if (homePage.SocialIconLinks != null && homePage.SocialIconLinks.Any())
                {
                    @Html.GetBlockListHtml(homePage.SocialIconLinks)
                }
               @*  <a href="https://www.instagram.com/" target="_blank" class="icon"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blank" class="icon"><i class="fab fa-youtube"></i></a> *@
            </div>

        @*   dil eklentisi
            <div class="header-social">
                <a href="#" class="icon"><img src="~/assets/images/turkish.png" alt="Türkçe" width="23" height="23"> </a>
                <a href="#" class="icon"><img src="~/assets/images/english.png" alt="English" width="20" height="20"> </a>
            </div> *@


            <div class="header-contact">
                <a href="mailto:@homePage.Eposta">
                    <div class="icon">
                        <svg role="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope-open-text">
                            <path fill="currentColor" d="M352 248v-16c0-4.42-3.58-8-8-8H168c-4.42 0-8 3.58-8 8v16c0 4.42 3.58 8 8 8h176c4.42 0 8-3.58 8-8zm-184-56h176c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8H168c-4.42 0-8 3.58-8 8v16c0 4.42 3.58 8 8 8zm326.59-27.48c-1.98-1.63-22.19-17.91-46.59-37.53V96c0-17.67-14.33-32-32-32h-46.47c-4.13-3.31-7.71-6.16-10.2-8.14C337.23 38.19 299.44 0 256 0c-43.21 0-80.64 37.72-103.34 55.86-2.53 2.01-6.1 4.87-10.2 8.14H96c-17.67 0-32 14.33-32 32v30.98c-24.52 19.71-44.75 36.01-46.48 37.43A48.002 48.002 0 0 0 0 201.48V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V201.51c0-14.31-6.38-27.88-17.41-36.99zM256 32c21.77 0 44.64 16.72 63.14 32H192.9c18.53-15.27 41.42-32 63.1-32zM96 96h320v173.35c-32.33 26-65.3 52.44-86.59 69.34-16.85 13.43-50.19 45.68-73.41 45.31-23.21.38-56.56-31.88-73.41-45.32-21.29-16.9-54.24-43.33-86.59-69.34V96zM32 201.48c0-4.8 2.13-9.31 5.84-12.36 1.24-1.02 11.62-9.38 26.16-21.08v75.55c-11.53-9.28-22.51-18.13-32-25.78v-16.33zM480 464c0 8.82-7.18 16-16 16H48c-8.82 0-16-7.18-16-16V258.91c42.75 34.44 99.31 79.92 130.68 104.82 20.49 16.36 56.74 52.53 93.32 52.26 36.45.26 72.27-35.46 93.31-52.26C380.72 338.8 437.24 293.34 480 258.9V464zm0-246.19c-9.62 7.75-20.27 16.34-32 25.79v-75.54c14.44 11.62 24.8 19.97 26.2 21.12 3.69 3.05 5.8 7.54 5.8 12.33v16.3z" class=""></path>
                        </svg>
                    </div>@homePage.Eposta
                </a>
                <a href="tel:@homePage.Telefon">
                    <div class="icon">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-phone-volume">
                            <path fill="currentColor" d="M154.9 187.8c14.7 1.5 28.7-7 34.2-20.7l32.5-81c6-14.9.4-31.9-13.3-40.5l-65-40.5c-13.2-8.2-30.1-6.3-41.1 4.7C-34.3 146-34 366.4 102.2 502.3c11 11 27.9 12.9 41.1 4.7l65-40.5C222 458 227.5 441 221.6 426l-32.5-81c-5.5-13.6-19.5-22.1-34.2-20.7l-43.2 4.3c-14.5-47.2-14.5-97.9 0-145.1zM89.8 362.9l68.4-6.8c.5-.1 1 .2 1.2.7l32.5 81c.2.5 0 1.1-.5 1.4l-65 40.5c-.5.3-1.1.2-1.5-.2C1 356 1.1 155.9 124.9 32.4c.4-.4 1-.5 1.5-.2l65 40.5c.5.3.7.9.5 1.4l-32.5 81c-.2.5-.7.8-1.2.7L89.8 149c-28.7 79.1-27.6 137.9 0 213.9zm202.4-270l-6 5.7c-3.9 3.7-4.8 9.6-2.3 14.4 4.9 9.4 4.9 20.6 0 29.9-2.5 4.8-1.6 10.7 2.3 14.4l6 5.7c5.6 5.4 14.8 4.1 18.7-2.6 11.8-20 11.8-45 0-65.1-3.9-6.5-13-7.8-18.7-2.4zM357 49.2c-4.4-5.6-12.7-6.3-17.9-1.3l-5.8 5.6c-4.4 4.2-5 11.1-1.3 15.9 26.5 34.6 26.5 82.6 0 117.1-3.7 4.8-3.1 11.7 1.3 15.9l5.8 5.6c5.2 4.9 13.5 4.3 17.9-1.3 36.1-46.2 36.1-111.1 0-157.5zm45.9-44.9c-4.5-5.3-12.5-5.7-17.6-.9L379.5 9c-4.6 4.4-5 11.5-.9 16.4 49.7 59.5 49.6 145.9 0 205.4-4 4.8-3.6 12 .9 16.4l5.8 5.6c5 4.8 13.1 4.4 17.6-.9 60.2-71.8 60.1-176.1 0-247.6z" class=""></path>
                        </svg>
                    </div>@homePage.Telefon
                </a>
            </div>


        </div>
    </div>



    <div class="header-bottom" >

        <div class="header-container container ui-bottom">

            <div class="hamburger">
                <button class="btn js-btn-mobilenav is-open" aria-controls="MobileNavToggle">
                    <span class="icon"><i class="fas fa-bars"></i></span>
                </button>
            </div>

            <div class="header-logo">
                <h1>
                    <a href="">
                       
                        <img src="@imageCropperValue" alt="@FirmaAdi">
                    </a>
                </h1>
            </div>


            <nav class="navigation js-nav" role="navigation">

                <div class="navigation-item">
                    <a href="@homePage.Url()">@homePage.Name</a>
                </div>

               @*  <div class="navigation-item">
                    <a href="javascript:void(0);">Kurumsal</a>
                    <ul class="navigation-links is-dropdown">
                        <li><a href="hakkimizda.php">Hakkımızda</a></li>
                    </ul>
                </div> *@

                @foreach (var page in menu)
            {

                <div class="navigation-item">
                        <a href="@(page.Url())">@(page.Name)</a>
                </div>
                }
                 

            </nav>
        </div>
    </div>

</header>